/ServiceDeskProject/target/
tickets.txt

# Derby database files
**/ServiceDeskDB_Ebd/
**/ServiceDeskUserDB/
*.lck
*.dat
*.log
*.tmp
*.properties

# App runtime/session files
ServiceDeskProject/user_session.properties