/ServiceDeskProject/target/
tickets.txt

ServiceDeskDB_Ebd/
derby.log

# Derby embedded databases
**/*DB_Ebd/
**/*UserDB/
**/*.log
**/derby.log
**/seg0/
**/log/

seg0/
log/
db.lck
*.dat
service.properties
